// @media screen and (min-width:1040px) { 
img                                    { width:100%; }
.container                             { background-color:#f2f2f2; }
#show-wrapper                          { padding-top:300px; margin:0 auto; max-width:940px;
  #show-background                     { background-color:#222;
    h1.title                           { font-size:36px; border-bottom:1px solid #333; padding:15px; color:#fff; }
    .left-side                         { display:inline-block; max-width:640px; padding:15px 20px; border-right: 1px solid #333;
      p.content                        { width:640px; color:#fff; font-size:18px; line-height:28px; 
        a                              { color:#999; 
          &:hover                      { text-decoration:none; color:#fff; } } } }
  	ul.resized-author-show             { cursor:default; color:#fff;  margin:20px 0; color:#999;
      li                               { display:inline-block; font-size:16px; margin:0 2px; color:#555; border: 1px solid #333; padding:5px; 
        &:hover                        { } 
        a                              { color:#999;
         &:hover                       { text-decoration:none; color:#fff; } } } }
  .right-side                          { display:inline-block; width:259px; position:absolute; max-width:259px; margin:15px 0;
      .comments-wrapper                { padding-bottom:15px; border-bottom: 1px solid #333;
        .new-comment                   { padding:0 20px;
          .submit                      { 
            input.comment-button-show  { color:#999; font-size:12px; padding:7px 10px; border:1px solid #333; background-color:#222; margin-top:8px; 
              &:hover                  { background-color:#555; color:#fff; } } } } } 
      .resized-comment-list-show       { font-size:14px; max-height:400px; overflow-y:auto;
        .resized-comment-show          { padding:20px 36px; border-bottom: 1px solid #333; color:#999; } }
      a.resized-more-comments-show     { border-bottom: 1px solid #333; color:#999; display:inline-block; font-size:14px; padding: 10px 0; text-align:center; width:100%;
        &:hover                        { background-color:#555; color:#fff; text-decoration:none; } } } } }
// }

//     a                                  { } }
//   a.return                             { font-size:20px; text-decoration:none; } 
// 	ul.resized-author-show               { cursor:default; color:#fff;  margin:20px 0 40px 0;
//     li                                 { display:inline-block; padding:15px 20px; background-color:#000; font-size:20px; 
//       &:hover                          { transition: color 220ms ease-in-out 0s; transition: border 120ms ease-in-out 0s; color:#37A1E4; } }
//     li.resized-back-show               { margin:0; 
//       a.return                         { color:#fff; 
//         &:hover                        { color:#37A1E4; } }
//     li.resized-date-show               { margin:0; }
//     li.resized-tags-show               { margin:0; }
//     li.resized-comments-show           { margin:0; } } }
//   div.resized-comment-input-show       { padding:30px; border:1px solid #d2d2d2;
//     form.new-comment                   { 
//       div.field                        { 
//         input                          { width:25%; }
//         textarea                       { width:98%; } } 
//       div.submit                       {  
//         input                          { height:40px; width:130px; font-size:15px; margin:6px 0 0 0; } } } } 
//   ul.resized-comment-list-show         { 
//     li.resized-comment-show            { background:#fff; padding:30px; color:#999; border-left:1px solid #d2d2d2;
//                                          border-right:1px solid #d2d2d2; border-bottom:1px solid #d2d2d2; } }
//   a.resized-more-comments-show         { background-color:#e2e2e2; display:inline-block; font-size:16px; padding:10px 0; width:100%; text-align:center; } }
// }
// 

// @media screen and (max-width:1040px) { 
// #user_nav                              { background-color:#fff; }
// #show-wrapper                          { color:#000; margin:0px;
//   h1.title                             { font-size:54px; color:#000; font-weight:bold; letter-spacing:1px; margin:50px 0 10px 0; text-align:center; }
//   p.content                            { font-size:24px; line-height:33px; margin:0 0 20px 0; text-align:justify; }
//   ul.resized-author-show               { cursor:default; color:#fff; text-align:center; 
//     li.resized-date-show               { margin:0; }
//     li.resized-tags-show               { margin:0; }
//     li.resized-comments-show           { margin:0; }
//     li.resized-back-show               { margin:0 0 3px 0; }
//     li                                 { display:inline-block; padding:15px 20px; background-color:#000; font-size:20px; 
//       &:hover                          { transition: color 220ms ease-in-out 0s; transition: border 120ms ease-in-out 0s; color:#37A1E4; } } }
//   div.resized-comment-input-show       { margin:10px;
//     form.new-comment                   { 
//       .field                           { 
//         #comment_name                  { } } } } }
// 
// ul.resized-comment-list                { color:rgba(0,0,0,0.5);
//   li.resized-comment                   { background-color:#fff; padding:20px; border-left:1px solid #f2f2f2; border-right:1px solid #f2f2f2; border-bottom:1px solid #f2f2f2;
//     p.comment_delete                   { width:10px; float:right;
//       a.icon                           { 
//         img                            {  } } } } }
// 
// }
// 

// @media screen and (max-width:520px) { 
// #show-wrapper                          { color:#000; margin:0px;
//   h1.title                             { font-size:40px; color:#000; font-weight:bold; letter-spacing:1px; margin:30px 0 10px 0; }
//   p.content                            { font-size:22px; }
//   p.author                             { font-size:18px; margin:0 0 0 8px; }
//   ul.resized-author-show               { cursor:default; color:#fff; 
//     li.resized-back-show               { margin:0 0 2px 0; }
//     li.resized-date-show               { margin:0 0 2px 0; }
//     li.resized-tags-show               { margin:0 0 2px 0; }
//     li.resized-comments-show           { margin:0 0 2px 0; }
//     li                                 { display:block; padding:15px 20px; background-color:#000; font-size:20px; 
//       &:hover                          { transition: color 220ms ease-in-out 0s; transition: border 120ms ease-in-out 0s; color:#37A1E4; } } } }
//   div.resized-comment-input-show       { margin:0;
//     form.new-comment                   { margin:22px 0 0 0; padding:0; border-bottom:1px solid #f2f2f2; 
//       .field                           { 
//         input                          { width:95%; height:30px; border-radius:0px !important; }
//         textarea                       { width:95%; height:140px; border-radius:0px !important; } }
//       .submit                          { padding:0px;
//         input                          { width:100%; height:37px; font-size:14px; margin-bottom:10px; } } } }
//     .resized-comment                   { background-color:#fff; padding:20px; border-left:0 solid #f2f2f2; border-right:0 solid #f2f2f2; border-bottom:1px solid #f2f2f2;
//       .comment_delete                  {  
//         .icon                          {  
//           img                          { height:10px; } } } }
// }
