#show-wrapper                          { color:#000; margin:40px;
  h1.title                             { font-size:90px; color:#000; font-weight:bold; letter-spacing:1px; margin:105px 0px 0px 0px; text-decoration: none;
                                         text-shadow: 0 1px 0 #999999; } 
  p.author                             { font-size:20px; margin:0 0 0 10px; } 
  p.content                            { font-size:22px; margin:20px 0 40px 0; line-height:40px; word-spacing: 2px; 
    a                                  { text-decoration:none; } }
  a.return                             { font-size:20px; text-decoration:none; } 
	ul.resized-author-show               { cursor:default; color:#fff; min-width:480px; 
    li.resized-date-show               { margin:25px 5px 0 0px; }
    li.resized-tags-show               { margin:25px 5px 0 0px; }
    li.resized-comments-show           { margin:5px 5px 0 0px; }
    li.resized-back-show               { margin:5px 0 35px 0px; 
      a.return                         { color:#fff; 
        &:hover                        { color:#37A1E4; } } }
    li                                 { display:inline-block; padding:15px 20px; background-color:#000; font-size:22px; 
      &:hover                          { transition: color 220ms ease-in-out 0s; transition: border 120ms ease-in-out 0s; color:#37A1E4; } } }
}

@media screen and (max-width:1040px) { 
#show-wrapper                          { color:#000; margin:40px;
  h1.title                             { font-size:65px; color:#000; font-weight:bold; letter-spacing:1px; margin:30px 0 0 0; min-width:450px; }
  p.author                             { font-size:18px; margin:0 0 0 8px; }
  ul.resized-author-show               { cursor:default; color:#fff; min-width:480px; 
    li.resized-date-show               { margin:25px 5px 0 0px; }
    li.resized-tags-show               { margin:25px 5px 0 0px; }
    li.resized-comments-show           { margin:5px 5px 0 0px; }
    li.resized-back-show               { margin:5px 0 35px 0px; }
    li                                 { display:inline-block; padding:15px 20px; background-color:#000; font-size:22px; 
      &:hover                          { transition: color 220ms ease-in-out 0s; transition: border 120ms ease-in-out 0s; color:#37A1E4; } } } }
}