<h1><%= @comment.content %></h1>


  <% if can? :update, @comment %>
    <%= link_to 'Edit', edit_article_comment_path %>
  <% end %>

  <% if can? :destroy, @comment %>
    <%= link_to 'Delete', article_comment_path, :confirm => 'Are you sure?', :method => :delete %>
  <% end %>
  
<%= link_to 'Back', article_comments_path %>