// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#wrapper                    { margin-top:2px; 
  ul.article                { border:1px solid #ffffff; border-radius:7px; background-color:#ffffff; margin-bottom:21px; }
  ul.header                 { background-color:#ffffff; border-top:1px solid #f2f2f2;}
  ul.right-side             { float:right; width:235px; border:2px solid #f5f5f5; padding:12px 8px; margin:0px 0px 10px 0px; color:#999999;}
  ul.left-side              { float:left; width:650px;
    li.content              { background-color:#ffffff; margin:0px 16px 50px 16px; } 
      p.image               { float:left; width:650px; margin:0px 0px 10px 0px; } }
  span                      { font-size:28px; text-align:justify; }
  ul                        {  
    li.information          { padding:0px 0px 0px 0px; background-color:#ffffff;}
    li                      { 
    	ul                    { list-style-type:none; 
          li.title          { margin:35px 0px 0px 20px; font-size:55px; color:#fff; font-weight:bold; letter-spacing:1px;
            a               { color:#000;
            	&:hover       { } 
                            } 
                            }
    li.author               { margin:10px 0px 20px 20px; }
} } } }

/*
  ul li.first            { width:650px; }
  ul.last             { width:180px; float:right; }*/