// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


tr:nth-of-type(odd) {
  background-color:#E3E3E3;
}


.field-new                      { width:100%;
  input                         { padding:10px; font-size:18px; height:50px; }
  label                         { font-size:24px; }
  textarea                      { padding:15px; font-size:18px; width:100%; height:300px; } }
.field                          { padding:0px 0px 12px 0px; 
  textarea                      { height:100px; width:100%; margin:0px; z-index:-1; } }
.submit                         { text-align:right; padding:0px 0px 20px 0px; width:100%; border-bottom:2px dotted #f2f2f2; 
                                  margin:0px 0px 20px 0px; }

#wrapper                        { width:100%; border-top:2px solid #f2f2f2; 
  .article                      { 
    h1.title                    { margin:55px 0px 0px 20px; font-size:55px; color:#000; font-weight:bold; letter-spacing:1px; 
      a                         { color:#000; text-decoration:none; text-shadow:#999999 0px 1px 0px;
        &:hover                 { text-decoration:none; } } }
    p.author                    { margin:0px 0px 15px 20px; }
    .left-side                  { float:left; width:73%; }
    .right-side                 { float:left; width:24%; margin:0px 0px 0px 15px; }
      ul                        {
        li.comment              { float:right; width:225px; border:2px solid #f5f5f5; padding:12px 8px; margin:0px 0px 10px 0px;
                                  color:#999999; border-radius:5px; } } }
                                  
            ul.article          { max-width:1700px; border:1px solid #ffffff; border-radius:7px; background-color:#ffffff; margin-bottom:21px; }
            ul.header           { background-color:#ffffff; }
            ul.full             { width:940px; margin:0px 0px 30px 0px;
              li                { } }
              ul.new              { display:none; }

              // li.content        { background-color:#ffffff; margin:0px 0px 50px 0px; } 
              // p.image           { float:left; width:100%; margin:0px 0px 10px 0px; }
              // p.video           { float:left; width:100%; margin:0px 0px 10px 0px; } }
              p.description     { font-size:30px; line-height:50px; }
            span                { font-size:18px; color:#37A1E4; }
            ul                  { margin:0 auto;
              li.information    { background-color:#ffffff;}
              li                { line-height:23px;
    	          ul              { list-style-type:none; 
                  li.title      { margin:55px 0px 0px 20px; font-size:55px; color:#000; font-weight:bold; letter-spacing:1px;
                    a           { color:#000; text-decoration:none; text-shadow:#999999 0px 1px 0px;
            	        &:hover   {  } } }
            li.author           { margin:10px 0px 20px 20px; } } } } }