@import "bootstrap";

@font-face {
  font-family:'proximanova-light';
  src: url(font-path('#{fonts/ProximaNova-Light}.otf')) format('opentype');
}

@font-face {
  font-family:'Delikatessen';
  src: url(font-path('#{fonts/Delikatessen}.ttf')) format('truetype');
}


// @font-face {
//   font-family:lmmonoltcond;
//   src: url('fonts/JuraDemiBold.ttf');
// }

/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s,
samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form,
label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio,
video {	margin:0; padding:0; border:0; font-size: 100%; font:inherit; vertical-align:baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav,
section { display:block; }
body { line-height:1; }
ol, ul { list-style:none; }
blockquote, q {	quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
table {	border-collapse:collapse; border-spacing:0; }

a { text-decoration:none; }

body { position:relative; font-family:'proximanova-light'; } /* no .ttf */ 

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


/* ---------------------------------------
Notification section
------------------------------------------ */


// #header2                       { background:image-url('bg-header-b3.jpg'); padding:135px 0; }
// #logo                          { text-align:center; font-family:'Delikatessen';
//                                  font-size:63pt; letter-spacing:3px; color:#fff; text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.25); }
#notification #flash_notice    { background-color:yellow; text-align:center; padding: 10px 0px; position:absolute; width:100%; }
#notification #flash_error     { background-color:red; text-align:center; padding: 20px 0px; color:#fff; font-weight:bold; }


/* --------------------------------------
Header
------------------------------------------ */
#fluid                         { position:absolute; width:100%; background-color:#222; padding: 30px 0; transition:height 0.5s; -webkit-transition:height 0.5s; height:100px;
  &:hover                      { height: 130px; }
#fluid-wrapper                 { max-width:940px; margin: 0 auto; }
#header                        { width:200px; display:inline-block; color:#fff; font-size:48px; padding:20px 0; border-top:2px solid #fff; position:absolute; }
#links                         { border-top:2px solid #333; margin-left:225px; width:715px;
      a                        { color: #FFFFFF; display: inline-block; font-size: 14px; font-weight: bold; letter-spacing: -1px; width: 150px; padding:15px 0; border-bottom:1px solid #333;
       &:hover                 { text-decoration:none; border-bottom:1px solid #555; } } } }
#catchphrase                   { position:absolute; margin-top:230px; width:100%; text-align:center; font-size:22px; }
.container                     { width:100%; }



/*--------------------------------------
Screen size for Tablet
------------------------------------------ */
@media screen and (max-width:1040px) { 
  #fluid                             { background-color:#222; }
  #links                             { 
    a                                { margin:5px 35px; } }
  embed                              { height:500px; }
  iframe                             { height:500px; }
}


/* --------------------------------------
Screen size for mobile
------------------------------------------ */
@media screen and (max-width:520px) { 
embed                               { height:325px; }
iframe                              { height:325px; }
img                                 { }
#fluid                              { 
  #links                            { 
    a                               { font-size:18px; margin:5px 25px; } } }
}

