@import "bootstrap";


@font-face {
  font-family:proximanova-light;
  src: url('fonts/ProximaNova-Light.otf');
}

@font-face {
  font-family:Delikatessen;
  src: url('fonts/Delikatessen.ttf');
}


// @font-face {
//   font-family:lmmonoltcond;
//   src: url('fonts/JuraDemiBold.ttf');
// }





/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s,
samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form,
label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio,
video {	margin:0; padding:0; border:0; font-size: 100%; font:inherit; vertical-align:baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav,
section { display:block; }
body { line-height:1; }
ol, ul { list-style:none; }
blockquote, q {	quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
table {	border-collapse:collapse; border-spacing:0; }

a { text-decoration:none; }

body { position:relative; font-family:proximanova-light; } /* no .ttf */ 

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


/* ---------------------------------------
Notification section
------------------------------------------ */


#header2                       { background-image:url('01818_pleasantsymmetry_1920x1080.jpg'); background-position:center bottom; background-repeat:no-repeat; padding:135px 0; }
#logo                          { text-align:center; font-family:Delikatessen;
                                 font-size:63pt; letter-spacing:3px; color:#fff; text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.25); }
#notification #flash_notice    { background-color:yellow; text-align:center; padding: 10px 0px; position:absolute; width:100%; }
#notification #flash_error     { background-color:red; text-align:center; padding: 20px 0px; color:#fff; font-weight:bold; }
#links                         { position:relative; text-align:center; padding:24px 0px; border-bottom:1px solid #f2f2f2; box-shadow:0px -1px 7px #999;
      a                        { display:inline; margin:5px 50px; color: rgba(0, 0, 0, 0.5); font-size:20px; transition: color 220ms ease-in-out 0s; transition: border 120ms ease-in-out 0s;
        &:hover                { text-decoration:none; border-bottom:3px solid #000; color:#000; } } }

#fluid                         { background-color:#fff; top:375px; } 
.container                     { width:100%; }

@media screen and (max-width:1040px) { 
#fluid                         { background-color:#fff; position:static; top:375px; }
#links                         { 
  a                            { margin:5px 35px; } }
embed                          { height:500px; }
//  #fluid                     { background-color:#fff; z-index:100; top:350px; width:100%; } 
//  #links                     { width:100%; text-align:center; padding:20px 0px; border-bottom:1px solid #f2f2f2;
//    a                        { display:inline-block; margin:5px 50px; color: rgba(0, 0, 0, 0.5); font-size:20px; transition: color 220ms ease-in-out 0s; transition: border 120ms ease-in-out 0s;
//      &:hover                { text-decoration:none; border-bottom:4px solid #000; color:#000; } } }
}

@media screen and (max-width:520px) { 
embed                          { height:375px; }
img                            { height:300px; }
}