// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_user          { border-top: 2px solid #F2F2F2; padding:60px 0px;
  h1               { text-align:center; font-size:48px; margin:0px 0px 20px 0px; }
  form 			       { border:1px solid #eee; padding:15px 15px; width:300px; margin:0 auto; border-radius:7px;
  	  a            { margin:20px 0px 0px 0px; }
      p            { font-size:16px; padding:12px 0px 0px 0px; 
        label      { }
        input      { margin:10px 0px 0px 0px; height:35px; font-size:16px; } } } }

#user_nav          { background-color:#f1f1f1; padding:10px 15px 20px 15px; margin-bottom:0px;
.container h1      {  }
	h4               { float:right; color:#999;}
  a                { } }