// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_user   { 
  h1        { padding:10px; }
  form 			{ border:1px solid black; padding:10px; width:230px; }
}

#user_nav    { background-color:#f1f1f1; box-shadow:1px 1px 1px #999; padding:10px 15px 10px 15px; 
	h4         { float:right; color:#999;}
  a          { }
}