// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_user        { border-top: 2px solid #F2F2F2; padding:100px 0 30px 0;
  h2             { text-align:center; font-size:48px; margin:0px 0px 20px 0px; }
  form 			     { border:1px solid #eee; padding:25px; width:500px; margin:0 auto; border-radius:7px; text-align:right;
  	a            { margin:20px 0px 0px 0px; }
    p            { text-align:left; font-size:28px; padding:12px 0px 0px 0px; 
      label      { margin:0 0 15px 0; }
      input      { width:97%; height:35px; } } 
    input.btn    { letter-spacing:1px; margin:10px 0 0 0; width:30%; } } }

#user_nav          { background-color:#f1f1f1; padding:10px 15px 20px 15px; margin-bottom:0px;
.container h1      {  }
	h4               { float:right; color:#999;}
  a                { } }